/* colores
#ff0000 rojo
#ff7400 naranja
#009999 verde
#81e264 otro verde
#00cc00 verde limón */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}
/* Contiene logo, menu e información breve de contacto */
/* bloque fijo durante toda la página */
.header {
  background: rgba(255, 255, 255, .5);
  position: fixed;
  height: 80px;
  width: 100%; 
  top: 0;
  left: auto;
  right: auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  z-index: 1000;
}
/*logo*/
.header-left {
  grid-column: 1;
  font-size: 1.5em;
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: .7em;
  flex-wrap: nowrap;
  position: relative;
}
.header-left img {
  width: 50%;
  height: auto;
  position: absolute;
  top: .3em;
}
/* menu */
.header-menu {
  height: inherit;
  grid-column: 2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header-menu ul li a { 
  font-size: 2.5em;
  padding: .5em;
  color: #00cc00;
  text-decoration: none;
  transition: .5s;
}
.header-menu ul li:hover a{ 
  color: #009999;
}
/* información breve de contacto */
.header-right {
  grid-column: 3;
  display: grid;
  grid-template: repeat(2,1fr);
  height: 50%;
  align-items: flex-end;
}
.header-right .telephone, .address {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2em;
}
.header-right i {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right p {
  margin: 0;
  padding: 0;
  padding: .3em 0 .5em .3em;
  font-size: 1.5em;
}



.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.content {
  border: 1px solid black;
  width: inherit;
}
.section-slider {
  width: inherit;
}
.slider {
  overflow: hidden;
  height: 100vh;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  height: inherit;

  -webkit-animation: 20s slider infinite ;
  -moz-animation: 20s slider infinite ;
  -ms-animation: 20s slider infinite ;
  -o-animation: 20s slider infinite ;
  animation: 20s slider infinite ;
}

.slider figure .inset {
  width: 20%;
  height: inherit;
  float: left; 
}
.slider figure img {
  width: 100%;
  height: inherit;
  object-fit: cover;    /*   Evita que la imagen se deforme */
}
.message {
  position: absolute;
  width: 8%;
  font-size: 3em;
  color: white;
}
.left {
  background: #ff7400;
  bottom: 20%;
  padding: .3em .5em .3em .5em;
  border-top-right-radius: 50px;

  -webkit-animation: 20s message-appear-left infinite; 
  -moz-animation: 20s message-appear-left infinite;
  -ms-animation: 20s message-appear-left infinite;
  -o-animation: 20s message-appear-left infinite;
  animation: 20s message-appear-left infinite; 
}
.right {
  background: #009999;
  position: absolute;
  bottom: 15%;
  padding: .3em 0 .3em 0;
  margin: 0;
  margin-left: 12%;
  text-align: center;
  border-top-left-radius: 50px;

  -webkit-animation: 20s message-appear-right infinite;
  -moz-animation: 20s message-appear-right infinite;
  -ms-animation: 20s message-appear-right infinite;
  -o-animation: 20s message-appear-right infinite;
  animation: 20s message-appear-right infinite;
}


.treatments {
  height: 100vh;
  background: #81e264;
  display: flex;
  align-items: center;
  justify-content: center;
}
.treatments-content, .contact-content {
  margin: 0;
  padding: 0;
  padding-left: 5em;
  padding-right: 5em;
  display: grid;
  grid-template: 100% / 12% 1fr;
  color: white;
}
.treatments-title, .contact-title {
  background: #e6ad63;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  height: auto;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.treatments-title h1 {
  padding: 0;
}
.tooth-washing {
  position: relative;
  width: 100px;
  height: 100px;
}
.tooth-washing img {
  width: 100%;
  position: absolute;
}
.treatments-title .toothbrush {
  animation: 2s toothbrush infinite alternate;
}
.lighti {
  width: 2px;
  height: 2px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
.one {
  left: calc(50% - 30px);
  animation: lighti 2s infinite;
}
.two {
  top: calc(50% + 10px);
  left: calc(50% + 35px);
  animation: lighti 2s infinite 1s;
} 
.treatment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  height: 70vh;
  position: relative;
}
.treatment-box .box {
  max-width: 600px;
  width: 30%;
  height: 50%;
  border: 3px solid #e6ad63;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.treatment-box .box:nth-child(2n) { 
  background: #e6ad63;
}

.treatment-box .box .box-left, 
.treatment-box .box .box-right {
  margin: 0;
  padding: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2em;
}
.treatment-box .box .box-left {
  width: 20%;
}
.treatment-box .box .box-left img {
  width: 100%;
}
.treatment-box .box .box-right {
  width: 70%;
}

/* 3. sección de especialista */
.specialist {
  height: 100vh;
  background: #f3dd5f;
  display: flex;
  align-items: center;
  color: white;
}
.specialist-wrapper {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template: 100% / 60% 40%;
}
.specialist-description, .specialist-image {
  position: relative;
  display: flex;
  align-items: center;
}
.specialist-description .wrapper{
  height: 80%;
  width: 100%;
  position: absolute;
  right: -12%;
  background: rgba(255,0,0,.1);
}
.specialist-image .wrapper{
  position: absolute;
  height: 100%;
  width: 80%;
  background: rgba(0,0,255,.2);
}
.specialist-description .wrapper .title {
  font-size: 2.5em;
  padding: 0 1em;
}
.specialist-description .wrapper .degrees {
  font-size: 1.8em;
  padding: .5em 1.5em;
}
.specialist-image .wrapper .name { 
  font-size: 1.8em;
  padding: 1em;
}
.specialist-image .wrapper .image { 
  border: 1px solid red;
  width: 50%;
  height: 50%;
}
.specialist-image .wrapper .image img { 
  width: 50%;
  border: 1px solid blue;
}
.contact {
  height: 100vh;
  background: #eb9e3a;
}




/*media queries*/
@media screen and (max-width: 1800px) {
  body {
    font-size: 15px;
  }
  .header {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media screen and (max-width: 1500px) {
  .header {
    grid-template-columns: .8fr 2fr 1.2fr;
  }
  .treatments-content {
    grid-template: 100% / 15% 1fr;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    grid-template-columns: .7fr 2fr 1.3fr;
  }
  .header-left img {
    width: 70%;
  }
  .message {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    grid-template-columns: .8fr 2fr 1.2fr;
    height: 90px;
  }
  .header-menu ul li a { 
    font-size: 2.3em;
  }
  .header-right p {
    padding: .1em 0 .1em .3em;
    font-size: 1.5em;
  }
  .message {
    font-size: 2.3em;
    width: 8.5%;
  }
  .message .right {
    margin-left: 8%;
  }
  .treatments-content {
    padding-left: 3em;
    padding-right: 3em;
  }
  .treatments-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 13px;
  }
  .header-left img {
    width: 90%;
  }
  .message {
    font-size: 2em;
  }
  .left {
    border-top-right-radius: 25px;
  }
  .right {
    margin-left: 10%;
    width: 8.3%;
    border-top-left-radius: 25px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    grid-template-columns: 2fr 10% 2fr;
    height: 80px;
  }
  .header-left img {
    width: 50%;
  }
  .header-menu {
    visibility: hidden;
  }
  .treatments {
    min-height: 750px;
  }
  .treatment-box {
    height: 80%;
  }
  .treatment-box .box {
    min-width: 250px;
  }
  .treatment-box .box:nth-child(3) { 
    background: #e6ad63;
  }
  .treatment-box .box:nth-child(4) { 
    background: #81e264;
  }
} 

@media screen and (max-width: 768px) {
  .header-left img {
    width: 70%;
  }
  .wrapper {
    width: 100%;
    height: auto;
  }
  .left {
    border-top-right-radius: 15px;
  }
  .right {
    border-top-left-radius: 15px;
  }
  .treatments-content {
    grid-template: 100% / 15% 1fr;
    padding-left: .5em;
    padding-right: .5em;
  } 
  .treatments-title {
    justify-content: flex-start;
    padding-top: 7em;
    font-size: 1.3em;
  }
  .treatment-box {
    height: auto;
  }
  .treatment-box .box .box-right {
    width: 80%;
    padding: 2px;
  }
  .treatment-box .box .box-right p {
    padding: 2px;
    margin: 0;
  }
  .treatment-box .box {
    max-height: 300px;
    min-width: 380px;
  }
  .treatment-box .box:nth-child(2n) { 
    background: #e6ad63;
  }
  .treatment-box .box:nth-child(2n+1) { 
    background: #81e264;
  }
  .map iframe {
    width: 80%;
  }
}


@media screen and (max-width: 520px) {
  body {
    font-size: 11px;
  }
  .header {
    height: 70px;
  }
  .treatments-content {
    grid-template: 100% / 20% 1fr;
    padding-left: 1em;
    padding-right: 1em;
  } 
  .tooth-washing {
    width: 70px;
    height: 70px;
  }
  .treatment-box .box {
    max-width: 300px;
    min-width: 250px;
  }
  .one {
    left: calc(50% - 10px);
  }
  .two {
    left: calc(50% + 20px);
  } 
  .map iframe {
    width: 100%;
  }
  .specialist-wrapper {
    grid-template: 20% 80%/ 100%;
  }
  .specialist-description { 
    grid-row: 2;
  }
  .specialist-image { 
    grid-row: 1;
  }
  .specialist-description .wrapper, 
  .specialist-image .wrapper {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .specialist-description .wrapper { 
    width: 80%;
    top: -5%;
  }
  .specialist-image .wrapper { 
    width: 50%;
    bottom: -6%;
  }
} 

@media screen and (max-width: 400px) {
  .treatment-box .box {
    max-width: 250px;
    min-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .treatment-box .box {
    max-width: 200px;
    min-width: 180px;
  }
  .treatments-title {
    font-size: 1.1em;
  }
}

/*animaciones*/
@keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-webkit-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-o-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-moz-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@keyframes message-appear-left {
  0%, 21%, 42%, 63%, 84% { margin-left: 20%; opacity: 0;}
  3%, 20.9999%, 24%, 41.999%, 45%, 62.999%, 66%, 83.999%, 87%, 99.999%{ margin-left: 0; opacity: 1;}
} 

@keyframes message-appear-right {
  0%, 21%, 42%, 63%, 84% { margin-left: 0%; opacity: 0; }
  3%, 24%, 45%, 66%, 87% { margin-left: 0%; opacity: 0; }
  20.999%,  41.999%,  62.999%,  83.999%, 99.999% { margin-left: 12%; opacity: 1;}
}

@keyframes toothbrush {
  0%   { left: 30%; }
  20%  { left: 60%; }
  30%  { left: 40%; }
  40%  { left: 55%; }
  50%  { left: 28%; }
  60%  { left: 45%; }
  70%  { left: 30%; }
  80%  { left: 55%; }
  90%  { left: 35%; }
  100%  { left: 55%; }
}

@keyframes lighti {
  0%, 90% {
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  100% {
    box-shadow: 0 0 16px 16px rgba(255,255,255,.7);
  }
}