/* colores en el sitio web 
#ff0000 rojo
#ff7400 naranja
#009999 verde
#81e264 verde claro
#00cc00 verde limón 
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}

/* Contiene logo, menu e información breve de contacto 
 * bloque fijo durante toda la página */
.header {
  background: rgba(255, 255, 255, .5);
  position: fixed;
  height: 80px;
  width: 100%; 
  top: 0;
  left: auto;
  right: auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  z-index: 1000;
}
/*logo*/
.header-left {
  grid-column: 1;
  font-size: 1.5em;
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: .7em;
  flex-wrap: nowrap;
  position: relative;
}
.header-left img {
  width: 50%;
  height: auto;
  position: absolute;
  top: .3em;
}
/* menu */
.header-menu {
  height: inherit;
  grid-column: 2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header-menu ul li a { 
  font-size: 2.5em;
  padding: .5em;
  color: #00cc00;
  text-decoration: none;
  transition: .5s;
}
.header-menu ul li:hover a{ 
  color: #009999;
}
/* teléfono y dirección */
.header-right {
  grid-column: 3;
  display: grid;
  grid-template: repeat(2,1fr);
  height: 50%;
  align-items: flex-end;
}
.header-right .telephone, .address {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2em;
}
.header-right i {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right p {
  margin: 0;
  padding: 0;
  padding: .3em 0 .5em .3em;
  font-size: 1.5em;
}


/* Este bloque contiene todas las secciones del sitio web */
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* slider */
.section-slider {
  width: inherit;
}
.slider {
  overflow: hidden;
  height: 100vh;
}
.slider figure {
  position: relative;
  /* porque se trata de un slider de 5 imágenes */
  width: 500%;    
  margin: 0;
  left: 0;
  height: inherit;

  -webkit-animation: 20s slider infinite ;
  -moz-animation: 20s slider infinite ;
  -ms-animation: 20s slider infinite ;
  -o-animation: 20s slider infinite ;
  animation: 20s slider infinite ;
}

.slider figure .inset {
  /* dimensión de cada imágen 5*20=100% */
  width: 20%;   
  height: inherit;
  float: left; 
}
.slider figure img {
  width: 100%;
  height: inherit;
  object-fit: cover;    /*   Evita que la imagen se deforme en diferentes resoluciones */
}
/* información del slider, textos por encima de las imágenes */
.message {
  position: absolute;
  width: 8%;
  font-size: 3em;
  color: white;
}
.left {
  background: #ff7400;
  bottom: 20%;
  padding: .3em .5em .3em .5em;
  border-top-right-radius: 50px;

  -webkit-animation: 20s message-appear-left infinite; 
  -moz-animation: 20s message-appear-left infinite;
  -ms-animation: 20s message-appear-left infinite;
  -o-animation: 20s message-appear-left infinite;
  animation: 20s message-appear-left infinite; 
}
.right {
  background: #009999;
  position: absolute;
  bottom: 15%;
  padding: .3em 0 .3em 0;
  margin: 0;
  margin-left: 12%;
  text-align: center;
  border-top-left-radius: 50px;

  -webkit-animation: 20s message-appear-right infinite;
  -moz-animation: 20s message-appear-right infinite;
  -ms-animation: 20s message-appear-right infinite;
  -o-animation: 20s message-appear-right infinite;
  animation: 20s message-appear-right infinite;
}


/* 2. Sección de tratamientos */
.treatments {
  height: 100vh;
  background: #81e264;
  display: flex;
  align-items: center;
  justify-content: center;
}
.treatments-content {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  display: grid;
  grid-template: repeat(2, calc(50vh - 40px))/ repeat(4, 25vw);
  color: white;
  /* border: 1px solid red; */
}
/* idem 1 */
.treatments-title {
  background: #008FFF;
  grid-row: 1 / 3;
  width: 100%;
  height: auto;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.treatments-title h1 {
  padding: 0;
}
/* envoltura de la animación (diente lavándose) */
.tooth-washing {
  position: relative;
  width: 100px;
  height: 100px;
}
.tooth-washing img {
  width: 100%;
  position: absolute;
}
.treatments-title .toothbrush {
  animation: 2s toothbrush infinite alternate;
}
/* brillo en el diente */
.lighti {
  width: 2px;
  height: 2px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
.one {
  left: calc(50% - 30px);
  animation: lighti 2s infinite;
}
.two {
  top: calc(50% + 10px);
  left: calc(50% + 35px);
  animation: lighti 2s infinite 1s;
} 
/* idem 2 al 7 */
.box {
  width: 100%;
  height: auto;
  /* border: 3px solid #e6ad63; */
  display: flex;
  flex-direction: column;
}
.box:nth-child(2) { 
  background: #1AC09A;
}
.box:nth-child(3) { 
  background: #EECB49;
}
.box:nth-child(4) { 
  background: #F97C52;
}
.box:nth-child(5) { 
  background: #66B9CD;
}
.box:nth-child(6) { 
  background: #564161;
}
.box:nth-child(7) { 
  background: #1AC09A;
}
.box .box-left, 
.box .box-right {
  margin: 0;
  padding: 5px;
  /* height: 100%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  /* border: 1px solid #009999 */
}
.box .box-left {
  height: 40%;
  flex-direction: column;
  /* border: 1px solid red; */
}
.box .box-left img {
  height: 50%;
  /* border-radius: 50%; 
  box-shadow: 3px 3px 3px 3px rgb(62, 150, 233); */
}
.box .box-left hr {
  border-style: dashed;
  width: 80%;
}
.box .box-right {
  height: 60%;
  /* border: 1px solid red; */
}


/* 3. sección de Especialista */
.specialist {
  height: 100vh;
  background: #f3dd5f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.specialist-wrapper {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template: 5% 10% 20% 60% 5% / 5% 50% 5% 5% 35%;
}
.specialist-wrapper .title {
  background: #F87049;
  grid-column: 1/3;
  grid-row: 2/4;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: 0 8px 6px -6px rgb(241, 50, 16);
}
.specialist-wrapper .title .name {
  height: 63%;
  width: 90%; 
  font-size: 3em;
  padding: 0;
}
.specialist-wrapper .title .name h1{
  padding: 0;
  margin: 0;
}
.specialist-wrapper .degrees {
  background: #19B88F;
  grid-column: 2/5;
  grid-row: 3/5;
  display: flex;
  align-items: flex-end;
  font-size: 2.5em;
}
.specialist-wrapper .degrees .content {
  width: 70%;
  height: 70%;
  border: 0;
  padding: 1em 1.5em;
}
.specialist-wrapper .image {
  background: #008FFF;
  grid-column: 4/6;
  grid-row: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.specialist-wrapper .image .content {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.specialist-wrapper .image .content img {
  width: 50%;
  object-fit: cover; 
}

/* 4. Sección de contacto */
.contact {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #eb9e3a;
}
.contact-wrapper {
  padding: 0;
  padding-top: 120px;
}
.contact-content {
  display: grid;
  grid-template: 20% 80% / 30% 70%;
  padding: 0;
  /* border: 1px solid pink; */
  color: white;
}
.contact-content .title h1{
  grid-column: 1;
  grid-row: 1; 
  margin: 0;
  font-size: 2.5em;
  padding: .5em;
  /* border: 1px solid red; */
}
.contact-content .information {
  grid-column: 1;
  grid-row: 2; 
  margin: 0;
  padding: 0;
  padding-left: .3em;
  font-size: 2em;
  /* border: 1px solid blue; */
}
.google-map {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1/3;
  /* border: 1px solid green; */
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95% !important;
  height: 90% !important;
}



/*media queries*/
@media screen and (max-width: 1800px) {
  body {
    font-size: 15px;
  }
  .header {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media screen and (max-width: 1500px) {
  .header {
    grid-template-columns: .8fr 2fr 1.2fr;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    grid-template-columns: .7fr 2fr 1.3fr;
  }
  .header-left img {
    width: 70%;
  }
  .message {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    grid-template-columns: .8fr 2fr 1.2fr;
    height: 70px;
  }
  .header-menu ul li a { 
    font-size: 2.3em;
  }
  .header-right p {
    padding: .1em 0 .1em .3em;
    font-size: 1.4em;
  }
  .message {
    font-size: 2.3em;
    width: 8.5%;
  }
  .message .right {
    margin-left: 8%;
  }
  .treatments-content {
    padding-top: 65px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .header {
    /* grid-template-columns: .6fr 2fr 1.4fr; */
    height: 60px;
  }
  .header-left img {
    width: 70%;
  }
  .header-right p {
    padding: .1em 0 .1em .1em;
    font-size: 1.3em;
  }
  .message {
    font-size: 2em;
  }
  .left {
    border-top-right-radius: 25px;
  }
  .right {
    margin-left: 10%;
    width: 8.3%;
    border-top-left-radius: 25px;
  }
  .treatments-content {
    padding-top: 55px;
    grid-template-rows: repeat(2, calc(50vh - 35px));
  }
  .specialist-wrapper .title .name {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 900px) {
  .header {
    grid-template-columns: 2fr 10% 2fr;
    height: 50px;
  }
  .header-left img {
    width: 35%;
  }
  .header-menu {
    visibility: hidden;
  }
  .treatments-content {
    grid-template: repeat(4, calc(25vh - 15px)) / repeat(2, 50vw );
    padding-top: 50px;
  }
  .treatments-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    flex-direction: row;
  }
  .treatments-title h1 {
    padding: 1em;;
  }
  .specialist-wrapper {
    grid-template: 1% 10% 15% 69% 5% / 5% 60% 5% 5% 20%;
    padding-top: 70px;
  }
  .specialist-wrapper .title {
    grid-column: 1/3;
  }
  .specialist-wrapper .title .name {
    font-size: 2.3em;
    justify-content: flex-start;
    align-items: center;
  }
  .specialist-wrapper .title .name h1 {
    padding: 0;
  }
  .specialist-wrapper .degrees {
    grid-column: 1/5;
  }
  .specialist-wrapper .image .content img {
    height: 70%;
    width: auto;
  }
  .contact {
    height: auto;
    min-height: 100vh;
  }
  .contact-wrapper {
    width: 90%;
    padding-top: 70px;
  }
  .contact-content {
    grid-template: 10% 20% 60%/ 100vw;
    color: white;
  }
  .title h1{
    font-size: 2em;
    /* border: 1px solid red; */
    text-align: center;
  }
  .information {
    font-size: 1.5em;
    /* grid-column: 1; */
    grid-row: 2; 
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .information p {
    margin: 0;
    padding: 2px;
  }
  .google-map {
    grid-column: 1;
    grid-row: 3;
  }
  .google-map iframe {
    /* position: absolute;
    top: 0;
    width: 95% !important;
    height: 90% !important; */
    left: 0;
    right: 0;
    margin: auto;
  }
} 

@media screen and (max-width: 768px) {
  .header-left img {
    width: 45%;
  }
  .wrapper {
    width: 100%;
    height: auto;
  }
  .left {
    border-top-right-radius: 15px;
  }
  .right {
    border-top-left-radius: 15px;
  }
  .specialist-wrapper .degrees .content {
    padding-left: .5em;
  }
  .specialist-wrapper .degrees .content ul {
    padding: 0;
    padding-left: 1em;
  }
  .contact-content {
    grid-template: 10% 30% 50%/ 100vw;
  }
  .contact-content .title h1{
    font-size: 2.2em;
    padding-bottom: 1em;
    /* border: 1px solid red; */
  }
  .contact-content .information {
    font-size: 1.7em;
    /* border: 1px solid blue; */
  }
}


@media screen and (max-width: 520px),  screen and (max-height: 500px) {
  body {
    font-size: 11px;
  }
  .header {
    height: 54px;
  }
  .header-right p {
    padding: .1em 0 .1em .1em;
    font-size: 1.3em;
  }
  /* .treatments-content {
    grid-template: 100% / 20% 1fr;
    padding-left: 1em;
    padding-right: 1em;
  } 
  .tooth-washing {
    width: 70px;
    height: 70px;
  }
  .treatment-box .box {
    max-width: 300px;
    min-width: 250px;
  }
  .one {
    left: calc(50% - 10px);
  }
  .two {
    left: calc(50% + 20px);
  }  */
  .treatments-content {
    grid-template: repeat(7, calc(14vh - 7px)) / 100vw ;
    padding-top: 60px;
  }
  .treatments-title {
    grid-column: 1 / 2;
  }
  .tooth-washing {
    width: 50px;
    height: 50px;
  }
  .one {
    left: calc(50% - 10px);
    animation: lighti 2s infinite;
  }
  .two {
    top: calc(50% + 7px);
    left: calc(50% + 15px);
    animation: lighti 2s infinite 1s;
  } 
  .box .box-left {
    padding: 0;
    visibility: hidden;
    height: 0;
  }
  .box .box-right {
    height: 100%;
  }
  .specialist-wrapper {
    grid-template: 2.5% 15% 2.5% 75% 5% / 5% 65% 20% 5% 5%;
  }
  .specialist-wrapper .title {
    grid-row: 1/3;
  }
  .specialist-wrapper .title .name h1 {
    padding: 0;
  }
  .specialist-wrapper .degrees {
    grid-column: 1/6;
    grid-row: 2/6;
  }
  .specialist-wrapper .image {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  /* .map iframe {
    width: 100%;
  } */
} 

@media screen and (max-width: 400px) {
  /* .treatment-box .box {
    max-width: 250px;
    min-width: 200px;
  } */
  .specialist-wrapper .degrees {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 320px) {
  .header-right p {
    font-size: 1.3em;
  }
  .specialist-wrapper .title .name {
    font-size: 2em;
  }
  .contact-content {
    grid-template: 10% 40% 50%/ 100vw;
  }
  .contact-content .title h1{
    font-size: 2em;
    padding-bottom: 1.5em;
    /* border: 1px solid red; */
  }
  .contact-content .information {
    font-size: 1.5em;
    /* border: 1px solid blue; */
  }
}

/*animaciones*/
@keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-webkit-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-o-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@-moz-keyframes slider {
  0%   { margin-left:    0%; }
  16%  { margin-left:    0%; }
  21%  { margin-left: -100%; }
  37%  { margin-left: -100%; }
  42%  { margin-left: -200%; }
  58%  { margin-left: -200%; }
  63%  { margin-left: -300%; }
  79%  { margin-left: -300%; }
  84%  { margin-left: -400%; }
  100% { margin-left: -400%; }
}

@keyframes message-appear-left {
  0%, 21%, 42%, 63%, 84% { margin-left: 20%; opacity: 0;}
  3%, 20.9999%, 24%, 41.999%, 45%, 62.999%, 66%, 83.999%, 87%, 99.999%{ margin-left: 0; opacity: 1;}
} 

@keyframes message-appear-right {
  0%, 21%, 42%, 63%, 84% { margin-left: 0%; opacity: 0; }
  3%, 24%, 45%, 66%, 87% { margin-left: 0%; opacity: 0; }
  20.999%,  41.999%,  62.999%,  83.999%, 99.999% { margin-left: 12%; opacity: 1;}
}

@keyframes toothbrush {
  0%   { left: 30%; }
  20%  { left: 60%; }
  30%  { left: 40%; }
  40%  { left: 55%; }
  50%  { left: 28%; }
  60%  { left: 45%; }
  70%  { left: 30%; }
  80%  { left: 55%; }
  90%  { left: 35%; }
  100%  { left: 55%; }
}

@keyframes lighti {
  0%, 90% {
    box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
  }
  100% {
    box-shadow: 0 0 16px 16px rgba(255,255,255,.7);
  }
}